body {
	font-family: courier new;
}

.container .navbar {
	color: #fff;
}

section {
	background-image: url('https://images.unsplash.com/photo-1612831200091-c08595b18e6b?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
	background-size: cover;
	background-position: 0 -100px;
	padding: 0 0 20px;
	color: #fff;
}
.container .banner {
	margin-top: -30px;
}
.container .banner-1 {
	text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.container .profile {
	height: 150px;
	width: 150px;
	box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
.container .banner-1 h1 {
	font-size: 20px;
	text-shadow: rgba(0,0,0,.5);
}
.container .banner-2 h3 {
	font-weight: 600;
	font-size: 20px;
	text-shadow: rgba(0,0,0,.5);
}
.container .banner-2 p {
	font-size: 15px;
	text-shadow: rgba(0,0,0,.5);
}

.container .typing {
	overflow: hidden;
  border-right: .1em solid #fff;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: ketik 10s steps(30, end) infinite , blink-caret .5s step-end infinite;
  animation-delay: 2s;
}

/* efek ketik */
@keyframes ketik {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff }
}

.nav-item {
	padding-right: 30px;
	font-size: 18px;
}

.navbar .nav-item .nav-link {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	color: #fff;
	text-shadow: rgba(0,0,0,.5);
}

.nav-item .nav-link:after{
	content: "";
	display: block;
	margin: auto;
	width: 0;
	height: 3px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.nav-item .nav-link:hover:after{
	width: 100%;
	background: darkblue;
}

.jumbotron {
	margin-top: -40px;
	margin-bottom: 2px;
	background-color: white;
}
.jumbotron .lead {
	font-size: 18px;
}
.jumbotron .lead span{
	font-weight: bold;
}

.underline h1 {
	font-weight: bold;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	/*text-decoration: none;*/

}
.underline h1:after{
	content: "";
	display: block;
	margin: auto;
	width: 0;
	height: 3px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.underline h1:hover:after{
	width: 100%;
	background: darkblue;
}

.galleri img {
	padding: 20px;
	margin: auto;
	width: 450px;
	height: 350px;
	display: block;
  	-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  	filter: blur(1px);
}

.overlay {
	position: absolute;
	padding: 20px;
	margin-left: 37px;
	top: 0;
	bottom: 0;
	/*left: 0;
	right: 0;*/
	height: 350px;
	width: 450px;
	opacity: 0;
	transition: .5s ease;
	background-color: silver;
}

.galleri:hover .overlay {
	opacity: 0.9;
}

.galleri .text {
  	color: darkblack;
  	font-weight: bold;
  	font-size: 20px;
  	position: absolute;
  	/*padding: 20px;
	margin: 20px;*/
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.myphoto img {
	width: 200px;
	height: 200px;
	display: block;
  	-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  	filter: blur(1px);
}

.myphoto .overlay {
	position: absolute;
	margin-left: 0;
	top: 0;
	bottom: 0;
	/*left: 0;
	right: 0;*/
	width: 200px;
	height: 200px;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
}

.myphoto:hover .overlay {
	opacity: 1;
}

.myphoto .image {
  	position: absolute;
  	top: 50%;
  	margin-left: 45px;
  	
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}


.underline a {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	color: darkgrey;
	/*text-decoration: none;*/

}
.underline a:after{
	content: "";
	display: block;
	margin: auto;
	width: 0;
	height: 3px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.underline a:hover:after{
	width: 100%;
	background: darkblue;
}

.footer .nav-item {
	margin-left: 0;
}

@media (min-width: 900px) {
	.container .profile {
		height: 200px;
		width: 200px;
		box-shadow: 2px 2px 4px rgba(0,0,0,.5);
	}
	.container .banner {
		margin-top: 0;
	}
	.container .banner h1 {
		font-size: 40px;
		text-shadow: rgba(0,0,0,.5);
	}
	.container .banner-2 h3 {
		font-weight: 800;
		font-size: 30px;
		text-shadow: rgba(0,0,0,.5);
	}
	.container .banner-2 p {
		font-size: 18px;
		text-shadow: rgba(0,0,0,.5);
	}
}