body {
	font-family: courier new;
}

.navbar {
	margin-top: 20px;
}

/*.collapse {
	margin-left: 120px;
}*/

.nav-item {
	padding-right: 30px;
	font-size: 18px;
}

.nav-item .nav-link {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	color: darkgrey;
}

.nav-item .nav-link:after{
	content: "";
	display: block;
	margin: auto;
	width: 0;
	height: 3px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.nav-item .nav-link:hover:after{
	width: 100%;
	background: darkblue;
}

.jumbotron {
	margin-top: -40px;
	margin-bottom: 2px;
	background-color: white;
}
.jumbotron .lead {
	font-size: 18px;
}
.jumbotron .lead span{
	font-weight: bold;
}


.underline h1 {
	font-weight: bold;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	/*text-decoration: none;*/

}
.underline h1:after{
	content: "";
	display: block;
	margin: auto;
	width: 0;
	height: 3px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.underline h1:hover:after{
	width: 100%;
	background: darkblue;
}

.galleri img {
	padding: 20px;
	margin: auto;
	width: 450px;
	height: 350px;
	display: block;
  	-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  	filter: blur(1px);
}

.overlay {
	position: absolute;
	padding: 20px;
	margin-left: 37px;
	top: 0;
	bottom: 0;
	/*left: 0;
	right: 0;*/
	height: 350px;
	width: 450px;
	opacity: 0;
	transition: .5s ease;
	background-color: silver;
}

.galleri:hover .overlay {
	opacity: 0.9;
}

.galleri .text {
  	color: darkblack;
  	font-weight: bold;
  	font-size: 20px;
  	position: absolute;
  	/*padding: 20px;
	margin: 20px;*/
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	text-align: center;
}

.myphoto img {
	width: 200px;
	height: 200px;
	display: block;
  	-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  	filter: blur(1px);
}

.myphoto .overlay {
	position: absolute;
	margin-left: 0;
	top: 0;
	bottom: 0;
	/*left: 0;
	right: 0;*/
	width: 200px;
	height: 200px;
	opacity: 0;
	transition: .5s ease;
	background-color: black;
}

.myphoto:hover .overlay {
	opacity: 1;
}

.myphoto .image {
  	position: absolute;
  	top: 50%;
  	margin-left: 45px;
  	
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}


.underline a {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	color: darkgrey;
	/*text-decoration: none;*/

}
.underline a:after{
	content: "";
	display: block;
	margin: auto;
	width: 0;
	height: 3px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.underline a:hover:after{
	width: 100%;
	background: darkblue;
}

.footer nav-item {
	margin-left: 0;
}
